# Mini-Projets

## Exercice 1 : Exploration initiale

In [ ]:
#Charger le fichier dans un DataFrame
import pandas as pd
database = pd.read_csv("C:/Users/HP/Desktop/DATA ANALYST/5-PYTHON/Formation Python/Mini_Projet/ventes_magasin - ventes_magasin.csv.csv")

In [ ]:
#databaseAfficher les premières lignes 
database.head()

In [ ]:
# Nombre de lignes et colonnes de la base de données
database.shape

In [ ]:
# Quelles sont les colonnes ? 
database.info()

In [ ]:
database.columns# autres méthode pour afficher les colonnes

## Exercice 2 : Calculs simples

In [ ]:
# Créer une nouvelle base de données avec la colonne Total_Vente “Total_Vente” = Prix × Quantité 
database_1 = database.copy()
database_1["Total_Vente"] = database_1["Prix"] * database_1["Quantité"]
pd.set_option('display.max_columns', None)     # Affiche toutes les colonnes
pd.set_option('display.expand_frame_repr', False)  # Empêche les retours à la ligne
pd.set_option('display.width', 0)  
print(database_1)

In [ ]:
# Ajouter la colonne Prix_net après remise
database_1["Prix_net"] = database_1["Prix"] * (1 - database_1["Remise (%)"].fillna(0) / 100)
print(database_1)

In [ ]:
# Traitement des valeurs manquantes 
database_1["Remise (%)"] = database_1["Remise (%)"].fillna(0)
print(database_1)

In [ ]:
# Trier les ventes du plus grand au plus petit chiffre d'affaires 
database_1 = database_1.sort_values(by="Total_Vente", ascending=False)
print(database_1)

In [ ]:
# Importer la base de données en fichier Excel
database_1.to_excel("Ventes_magasin.xlsx", index=False)

## Exercice 3 : Analyse par magasin

In [ ]:
# le magasin qui a vendu le plus
vente_par_magasin = database_1.groupby("Magasin")["Total_Vente"].sum().sort_values(ascending=False)
print(vente_par_magasin.head(1))

In [ ]:
# Chiffre d'affaire par magasin
vente_par_magasin = database_1.groupby("Magasin")["Total_Vente"].sum().sort_values(ascending=False)
print(vente_par_magasin)

In [ ]:
# Quel produit est le plus vendu à Kinshasa 
ventes_kinshasa = database_1[database_1["Magasin"] == "Kinshasa"]
produit_plus_vendu = ventes_kinshasa.groupby("Produit")["Quantité"].sum().sort_values(ascending=False)
print(produit_plus_vendu)

## Exercice 4 : Valeurs manquantes

In [ ]:
# Simuler des valeurs manquantes dans "Remise (%)" 
database_1["Remise (%)"] = database_1["Remise (%)"].fillna(5) # en supposant que la remise est de 5%
print(database_1)

In [ ]:
# ● Remplacer les valeurs manquantes par la moyenne
remise_moyen = database_1["Remise (%)"].mean() # Calcul de la moyenne (en ignorant les NaN)
database_1["Remise (%)"] = database_1["Remise (%)"].fillna(remise_moyen) # Remplacement des NaN par la moyenne
print(database_1)

In [ ]:
#Vérifier les types de chaque colonne après
database_1.dtypes

In [ ]:
#Vérifier les types de chaque colonne après
database_1.info()

## Exercice 5 : GroupBy avancé

In [ ]:
# Moyenne de prix par catégorie 
moyenne_prix_par_categorie = database_1.groupby("Catégorie")["Prix"].mean()
print(moyenne_prix_par_categorie)

In [ ]:
# Total des ventes par mois 
database_1["Date"] = pd.to_datetime(database_1["Date"]) # convertir la colonne "Date" en format datetime
database_1["Mois"] = database_1["Date"].dt.to_period("M") # extraire le mois (année-mois)
total_par_mois = database_1.groupby("Mois")["Total_Vente"].sum() # total des ventes par mois
print(total_par_mois)

In [ ]:
# Nombre de ventes par produit
ventes_par_produit = database_1.groupby("Produit")["Quantité"].sum()# Nombre total d’unités vendues par produit
print(ventes_par_produit)

In [ ]:
# le nombre d’opérations (lignes de vente) par produit :
nombre_lignes_par_produit = database_1["Produit"].value_counts()
print(nombre_lignes_par_produit)

## VISUALISATION

# Représenter graphiquement les ventes par magasin

In [ ]:
# Importation des bibliothèques seaborn, numpy et matplotlib
import seaborn as sns 
import numpy as np 
import matplotlib.pyplot as plt

In [ ]:
# Calacul de la colonne Total_net
database_1["Total_net"] = database_1["Prix_net"] * database_1["Quantité"]
database_1

In [ ]:
# Calcul des ventes nettes par magasin
ventes_par_magasin = database_1.groupby("Magasin")["Total_net"].sum().sort_values(ascending=False)
ventes_par_magasin

In [ ]:
# Représenter graphiquement les ventes par magasin
plt.figure(figsize=(10,6))
sns.barplot(x=ventes_par_magasin.index, y=ventes_par_magasin.values, palette="viridis")
plt.title("Total des ventes par magasin", fontsize=14)
plt.xlabel("Magasin")
plt.ylabel("Total des ventes (net)")
plt.xticks(rotation=45)
plt.tight_layout()
plt.show()

In [ ]:

# Créer un bar plot des produits les plus vendus 
# Agréger la quantité totale vendue par produit
ventes_par_produit = database_1.groupby("Produit")["Quantité"].sum().sort_values(ascending=False)
ventes_par_produit = database_1.groupby("Produit")["Quantité"].sum().sort_values(ascending=False).reset_index()

In [ ]:
# Création du bar plot
plt.figure(figsize=(12, 6))
sns.barplot(data=ventes_par_produit, x="Produit", y="Quantité", palette="crest")
plt.title("Produits les plus vendus", fontsize=14)
plt.xlabel("Produit")
plt.ylabel("Quantité totale vendue")
plt.xticks(rotation=45)
plt.tight_layout()
plt.show()

## Diagramme en barres horizontal (Top 10)

In [ ]:
# Top 10 produits les plus vendus
ventes_par_produit = database_1.groupby("Produit")["Quantité"].sum().sort_values(ascending=False).head(10)

In [ ]:
# Barres horizontales
plt.figure(figsize=(10, 6))
sns.barplot(x=ventes_par_produit.values, y=ventes_par_produit.index, palette="Blues_r")
plt.title("Top 10 des produits les plus vendus", fontsize=14)
plt.xlabel("Quantité totale vendue")
plt.ylabel("Produit")
plt.tight_layout()
plt.show()

## Diagramme circulaire (camembert, Top 5)

In [ ]:
# Top 5 produits pour éviter surcharge visuelle
ventes_top5 = ventes_par_produit.head(5)

In [ ]:
# Diagramme circulaire
plt.figure(figsize=(7, 7))
plt.pie(ventes_top5.values, labels=ventes_top5.index, autopct='%1.1f%%', startangle=140, colors=sns.color_palette("pastel"))
plt.title("Répartition des 5 produits les plus vendus")
plt.axis('equal')  # Cercle parfait
plt.show()

## Ventes par catégorie de produit

In [ ]:
# Total des ventes nettes par catégorie
ventes_par_categorie = database_1.groupby("Catégorie")["Prix_net"].sum().sort_values(ascending=False)

In [ ]:
# Diagramme en barres
plt.figure(figsize=(10, 6))
sns.barplot(x=ventes_par_categorie.index, y=ventes_par_categorie.values, palette="Set2")

plt.title("Total des ventes par catégorie de produit", fontsize=14)
plt.xlabel("Catégorie")
plt.ylabel("Ventes nettes")
plt.xticks(rotation=45)
plt.tight_layout()
plt.show()

## Ventes par mois

In [ ]:
# S'assurer que la colonne Date est bien au format datetime
database_1["Date"] = pd.to_datetime(database_1["Date"])

In [ ]:
# Extraire le mois
database_1["Mois"] = database_1["Date"].dt.to_period("M")

In [ ]:
# Total des ventes nettes par mois
ventes_par_mois = database_1.groupby("Mois")["Prix_net"].sum()

In [ ]:
# Représentation graphique
plt.figure(figsize=(10, 6))
ventes_par_mois.plot(kind='bar', color='salmon')
plt.title("Ventes nettes par mois", fontsize=14)
plt.xlabel("Mois")
plt.ylabel("Ventes nettes")
plt.xticks(rotation=45)
plt.tight_layout()
plt.show()